body, html {
  height: 100%; /* Ensure the page takes the full height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes at least the full height of the viewport */
}

header {
  background-color: #282c34;
  color: white;
  padding: 50px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  color: #0077cc;
}

section {
  padding: 20px;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
}
